{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
}

body{
    background-color:bisque;
    text-align: center;
    line-height: 2.1;
}


.hero img{
    border-radius: 50%;
}

.accent {
    color: rgb(181, 60, 0);
    font-style: italic;
    font-weight: bold;
}

img {
    width: 300;
    height: auto;
}

@media screen (max-width: 768px){
    body(background-color:red)
}

.grid{
    display: flex;
    justify-content: center;
   justify-content: space-around;
   flex-wrap: wrap;
}

.grid div{
    background-color:azure;
    border-radius: 100px;
    padding: 10px;
    min-width: 80px;
}



