{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
}

body{
    background-color:bisque;
    text-align: center;
    line-height: 2.1;
}


.hero img{
    border-radius: 50%;
}

.accent {
    color: rgb(181, 60, 0);
    font-style: italic;
    font-weight: bold;
}

img {
    width: 300;
    height: auto;
}

@media screen {
     (max-width: 768px)
    body(background-color:red)
}

.grid{
    display: flex;
    justify-content: center;
   justify-content: space-around;
   flex-wrap: wrap;
}

.grid div {
    background-color:azure;
    border-radius: 100px;
    padding: 10px;
    min-width: 80px;
}

#about {
  border: 2px solid #333;        /* Dark border around the section */
  border-radius: 10px;           /* Rounded corners */
  padding: 20px;                 /* Space inside the box */
  margin: 20px auto;             /* Space outside, auto centers it */
  max-width: 800px;              /* Keeps it from stretching too wide */
  background-color: #ffc97d;     /* Light background for contrast */
  ;
}
